body {
    font-family: Cambria, sans-serif;
    background-color: white;
    color: #333;
    margin: 0;
    padding: 0;
}
header {
    background-color: #00c8ff;
    color: white;
    text-align: center;
    padding: 20px;
}
main {
    margin: 0 15vw;
    line-height: 1em;
}
footer {
    text-align: center;
    padding: 10px;
    background-color: #00c8ff;
    color: white;
    position: fixed;
    bottom: 0;
    width: 100%;
}

button {
    font-family: Cambria, sans-serif;
}
#c {
    position: center;
}